<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="FlaskHandler" path="*" verb="*" modules="FastCgiModule"
                 scriptProcessor="C:\inetpub\wwwroot\ua\venv\Scripts\python.exe|C:\inetpub\wwwroot\ua\venv\Lib\site-packages\wfastcgi.py"
                 resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <add segment="__pycache__" />
                    <add segment="venv" />
                </hiddenSegments>
            </requestFiltering>
        </security>
    </system.webServer>
    <appSettings>
        <add key="PYTHONPATH" value="C:\inetpub\wwwroot\ua" />
        <add key="WSGI_HANDLER" value="wsgi.application" />
        <add key="WSGI_RESTART_FILE_REGEX" value=".*\.py" />
        <add key="SCRIPT_NAME" value="/UA" />
    </appSettings>
</configuration>
